{% load static i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %} - RING</title>

    {% block js %}
      <script src="{% static 'libs/angular/angular.min.js' %}"></script>
      <script src="{% static 'js/app.js' %}"></script>
    {% endblock %}

    {% block head  %}{% endblock head %}
</head>
<body>
    {% csrf_token %}
    {% verbatim %}
    <section ng-app="cmsrest" ng-controller="client" class="grid">
      <ul>
        <li ng-repeat="item in menu" class="menu">
            <a ng-click="openPage(item.url)">{{ item.title }}</a>
        </li>
      </ul>
      <article class="body">
        <h2 ng-bind="content_page.title"></h2>
        <p ng-bind-html="content_page.placeholders.content | safe"></p>
      </article>

    </section>
    {% endverbatim %}

    {% block external_scripts %}
    {% endblock %}
    <script type="text/javascript">
    {% block script %}
    {% endblock %}
    </script>

</body>
</html>
